# Build directories
build/
build-*/
build_*/
build_msvc/
bin/
lib/
out/
dist/
*.zip
.cache/
compile_commands.json

# IDE / Editor files
.vs/
.vscode/
.idea/
*.user
*.suo
*.sln
*.vcxproj*

# OS specific
Thumbs.db
Desktop.ini
.DS_Store

# Test outputs and temporary files
*.tmp
*.log
*.obj
*.lib
*.exp
scratch/
